/*
Colors: 

#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
*{
font-family: 'Raleway', sans-serif;
margin: 0;
padding: 0;
}

#nav-bar {
    background-color: #E54E79;
    width: 100%;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.67);
    position: fixed;
    z-index: 1000; /*pone a nav encima de todo*/
    height: 40px;
}


.lyft-logo{

    width: 47px;
    padding: 20px;
    margin-left: 20px;
    margin-top: -19px;
}

ul{
    list-style: none;
    /*no se muestre el simbolo delante de los elementos*/
    margin: 0;
    padding: :0;
    overflow: :hidden;
}
li{
    list-style: none;
    margin-top:-55px;
    margin-right: 130px;
  }

ul li a{  
    color: #FFF;    
    font-size: 17px;
    text-decoration: none;/*quita la linea bajo el enlace*/
    display: inline; /*horizontal*/
    float: right;
    padding: 5px;
    padding-right: 18px;
      }


li a:hover:not(.active){
    background-color: #898989;
    } /* cambia a color gris al onmouseover*/

.fondo{ /*imagen conductor*/
    margin-top: 18px;
    width: 100%;
}


.header{
    background-color: #EDE9E2;
    height: 350px;
    width: 453px;
    right: 0;
    position: absolute;
    margin-top:-384px;
    display: inline-block;
}

div h1{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 26px;
    font-weight: 800;
    color: #00B2A9;
}
div h2{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 300;
    color: #75726C;
}
input{
    margin-left: 30px;
    margin-top: 20px;
    font-size:16px;
    padding:10px 10px 10px 5px;
    display:absolute;
    width:400px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: #EDE9E2;
}
#sign-up{
    margin-top: 15px;
    margin-left: 32px;
    padding: 10px 30px 10px 30px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: #E56385;
    color: whitesmoke;
}

#l1{
    margin:24px;
    margin-top:-18px; 
    padding: 5px;
}
#l2{
    margin:24px;
    margin-top:-18px; 
    padding: 5px;
}



.footer{
    background-color: #767676;
    width: 100%;
    height: 20px;;
    position: relative;
    z-index: 1000;
    color: #a3a3a3;
    margin-top: -5px;
    }
/*textos del footer*/
#pLyL{
    margin-left: 20%;
}
#pLinks{
    margin-left: 65%; 
    margin-top: -19px;
}

@font-face {
    font-family: 'si';
    src: url('PATH_TO/socicon.eot');
    src: url('PATH_TO/socicon.eot?#iefix') format('embedded-opentype'),
         url('PATH_TO/socicon.woff') format('woff'),
         url('PATH_TO/socicon.ttf') format('truetype'),
         url('PATH_TO/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    list-style:none;
    margin: -20px;
}

.soc li {
    display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'\e040';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'\e041';
}
.soc-instagram {
    background-color: #405de6;
}
.soc-instagram:before {
    content:'\e057';
}
.soc-github {
    background-color: #221e1b;
}
.soc-github:before {
    content:'\e030';
}