/*
Colors: 

#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
*{
font-family: 'Raleway', sans-serif;
margin: 0;
padding: 0;
}

#nav-bar {
    background-color: #E54E79;
    width: 100%;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.67);
    position: fixed;
    z-index: 1000; /*pone a nav encima de todo*/
    height: 40px;
}


.lyft-logo{

    width: 47px;
    padding: 20px;
    margin-left: 20px;
    margin-top: -19px;
}

ul{
    list-style: none;
    /*no se muestre el simbolo delante de los elementos*/
    margin: 0;
    padding: :0;
    overflow: :hidden;
}
li{
    list-style: none;
    margin-top:-55px;
    margin-right: 130px;
  }

ul li a{  
    color: #FFF;    
    font-size: 17px;
    text-decoration: none;/*quita la linea bajo el enlace*/
    display: inline; /*horizontal*/
    float: right;
    padding: 5px;
    padding-right: 18px;
      }


li a:hover:not(.active){
    background-color: #cc498a;
    height: 27px;
    margin-top: -2px;

    } /* cambia a color gris al onmouseover*/

.fondo{ /*imagen conductor*/
    
    background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
    background-size: cover;
   
    height: 500px;
}


.header{ /*caja formulario*/
    background-color: #EDE9E2;
    height: 350px;
    width: 453px;
    right: 0;
    position: absolute;
    margin-top:-384px;
    display: inline-block;
}

#mile{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 26px;
    font-weight: 800;
    color: #00B2A9;
}
#signup{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 300;
    color: #75726C;
}
input{
    margin-left: 30px;
    margin-top: 20px;
    font-size:16px;
    padding:10px 10px 10px 5px;
    display:absolute;
    width:400px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: #EDE9E2;
}

#botonDriver{
    margin-top: 15px;
    margin-left: 32px;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    border:none;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.67);
    background-color: #E56385;
    color: whitesmoke;
}

#l1 {
    margin:31px;
    margin-top:17px; 
    padding: 5px;
    font-size: 14px
}
#l2{
    margin:31px;
    margin-top:-20px; 
    padding: 5px;
    font-size: 14px;
}

.play{ /*with lyft box*/
    background-color: #EDE9E2;
    width: inherit;
    height: 45px;
    color: #727272;
    text-align: center;
    font-size: 40px;
    padding: 11px;
    float:center;
  }
#celeste{
    background-color: #00b2a9;
    
}
.input-cars{
    margin-top: 50px;
    margin-left: 162px;
    background-color: #EDE9E2;
    width: 650px;
    display: inline-block;
    margin-bottom: 100px;
}
#xcordinate{
    margin: 20px 25px;
    padding: 35px;
    float: left;
}
#xcordinate input{
    font-size:16px;
    padding:10px 10px 10px 5px;
    display:inline-block;
    width:180px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: #EDE9E2;
}
#xcordinate label{
    color: #75726C;
    margin: 45px;
}

#ycordinate{
    margin: 25px 25px ;
    padding: 15px;
    float: right;
}
#ycordinate input{
    font-size:16px;
    padding:10px 10px 10px 5px;
    display:absolute;
    width:180px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: #EDE9E2;
}
#ycordinate label{
    color: #75726C;
    margin: 10px;
}
#start{
    margin: 25px 93px 45px 92px;
    width: 350px;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    border:none;
    background-color: #E56385;
    color: whitesmoke;
    object-position: center;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.67);
}

#prefooter{
    background-color: #686868;
    color: #fff;
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: -29px;
    overflow: none;
}
#sprint{
    font-size: 22px;
}

.footer{
    background-color: #767676;
    width: 100%;
    height: 50px;;
    display: block;
    z-index: 1000;
    color: #a3a3a3;
    margin-top: 29px;
    /*position: fixed;*/

    }
/*textos del footer*/
#pLyL{
    margin-left: 14%;
    margin-top: 14px;
}
#pLink{
    margin-left: 55%;
    margin-top: -18px;
}
